@using ToDoListExam.Models.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Реєстрація";
}

<div class="col">
    <h1>Реєстрація</h1>
    <div asp-validation-summary="ModelOnly" class="text-warning"></div>
    <form method="post">
        <div class="mb-3">
            <label asp-for="Login" class="form-label">Логін</label>
            <input asp-for="Login" class="form-control" placeholder="Ваш логін" />
            <span asp-validation-for="Login" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Пошта</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Пароль</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Повторіть пароль</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary form-control">Зареєструватися</button>
        </div>
    </form>

</div>

